<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center"></a>
    <a href="#" class="brand-logo">Welcome to Slota Twitter</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
    <% if current_user%>
      <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to "Login", login_path %>
    <% end %>
    </ul>
  </div>
</nav>

<div class="row">
  <div class="col s3">
        <!-- Grey navigation panel -->

    <% if current_user %>
      <h3><%= @user.name %></h3>
      <%= image_tag @user.profile_image_url %><br>
      <h5><%= @user.description %><br></h5>
      My followers count:<%= @user.followers_count %><br>
      My friends count: <%= @user.friends_count %><br>
      My tweet number: <%= @user.statuses_count %><br>
  </div>
  <br><br>

  <div class="col s9">
            <!-- Teal page content  -->

    <p>
    <%= form_for :tweet, url: tweets_path, method: :post do |f| %>
      <%= f.text_field :message %>
      <%= f.submit "Tweet" %>
    <% end %>

    </p>

    <ul><% @twitter_data.home_timeline.take(10).each do |tweet| %>
      <li>
        <div class="row">
        <div class="col s12  m10">
          <div class="card blue">
            <div class="card-content white-text">
              <img src="<%= tweet.user.profile_image_url  %>">
              <h5><%= tweet.user.screen_name %></h5>
              <% if tweet.media.present? %>
              <img src="<%= tweet.media.first.media_url %>">
              <% end %><br>
              <span class="card-title"><%= tweet.text %></span>
            </div>
            <div class="card-action">
              Favorited:<%= tweet.favorite_count %>
              <%= button_to "like", tweet_path(tweet.id), method: :put %>
            </div>
          </div>
        </div>
      </div>

      </li>
    <% end %></ul>

  <% end %>
  </d iv>
</div>
