<h1>Welcome!</h1>

<% if current_user %>
  <p>Hello, <%= current_user.name %></p>
  <%= image_tag @image %>
  <%= @description %>
  My followers count:<%= @followers_count %>
  My friends count: <%= @friends_count %>
  My tweet number: <%= @statuses_count %>







  <ul><% @tweets.each do |tweet| %>
    <li><%= tweet.text %></li>
  <% end %></ul>
  <%= link_to "Logout", logout_path %>
<% else %>
  <%= link_to "Login", login_path %>
<% end %>
